
:root{
	--font-text: 'Josefin Sans', sans-serif;
	--text-black: #3c3c3c;
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--color-red:   #c11010;
}


@lost flexbox flex;
.Abrir{
	h1{
		text-align: center;
		font-family: var(--titled-font);
		margin:  20px;
		font-size: 60px;
		margin-bottom: 0;
	}
	&-content{
		text-align: center;
		margin: 20px;
		max-width: 50%;
		margin: 40px auto;
		input{
			display: inline-block;
			max-width: 300px;
			background: #d92738;
			font-size: 20px;
			width: 50%;
			margin-left: 50%;
			color: white;
			font-family: 'Lobster Two', cursive;
			border: 0px;
			margin: 20px 0px;
			padding: 5px 20px;
			height: auto;
			cursor: pointer;
		}
		label{
			text-align: left;
			display: block;
			font-weight: 700;
			padding: 5px 0;
			font-family: var(--font-text);
		}
		select{
			height: 30px;
			width: 100%;
			display: inline-block !important;
			text-align: center;
			font-family: 'Josefin Sans', sans-serif;
			font-size: 17px;
			box-sizing: border-box;
			vertical-align: bottom;
		}
	}
}