
:root{
	--font-text: 'Josefin Sans', sans-serif;
	--text-black: #3c3c3c;
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--color-red:   #c11010;
}


@lost flexbox flex;
.Home{
	&-content{
		h1{
			font-family: var(--titled-font);
			text-align: center;
			font-size: responsive 40px 60px;
			margin: 20px;

		}
		ul{
			lost-center:  80%;
			margin-top: 50px;
			li{
				lost-column:  1/6 no-flex;
				list-style: none;
				img{
					width: 100%;
				}
				p{
					text-align: center;
					font-family: var(--font-text);
					font-size: 20px;
					font-weight: 700;
				}
			}
		}
	}
}