
:root{
	--font-text: 'Josefin Sans', sans-serif;
	--text-black: #3c3c3c;
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--color-red:   #c11010;
}


@lost flexbox flex;
.Home{
	&-content{
		h1{
			font-family: var(--titled-font);
			text-align: center;
			font-size: responsive 40px 60px;
			margin: 20px;
			margin-bottom: 0;
			color: #8d0d0d;

		}
		& > p{
			text-align: center;
			line-height: 1;
			font-weight: 700;
			font-size: 20px;
			font-family: var(--font-text);
			color: var(--text-black);
		}
		ul{
			lost-center:  80%;
			margin-top: 50px;
			max-width: 1200px;
			
			li{
				lost-column:  1/6 no-flex;
				list-style: none;
				img{
					width: 100%;
					cursor: pointer;
				}
				p{
					text-align: center;
					font-family: var(--font-text);
					font-size: 20px;
					font-weight: 700;
					color: var(--text-black);
				}
			}
		}
	}
}