:root{
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--text-black: #3c3c3c;
	--font-text: 'Josefin Sans', sans-serif;
}

@lost flexbox flex;

*{
	margin: 0;
	padding: 0;
}
html{
	min-height: 100hv;
}
.Header{
	background-color: #c11010;
	width: 100%;
	border-botom: 1px solid black;
	padding: 20px;
	box-sizing: border-box;
	position: relative;

	&-title{
		color: white;
		margin:  0;
		font-size: responsive 60px 80px;
		font-family:  var(--titled-font);
		font-weight: 700;
		font-style: italic;
		
		span{
			color: #2b0000;
		}
	}
	&-menu{
		position: absolute;
		top: 25%;
		right: 20px;
		cursor: pointer;
		width: 60px;
	    img {
			max-width: 100%;
	    }
	}
	&-nav{
		position: fixed;
		right: 0;
		top: 0;
		width: 250px;
		padding: 10px;
		height: 100%;
		background-color: #141414;
		box-shadow: -3px 0px 5px #0f0f0f;
		li{
			list-style: none;
			padding:  30px 20px;
			a{
		    	text-decoration: none;
		    	font-size: 25px;
		    	color: white;
		    	font-family: var(--font-text);
		    	font-weight: 700;
	    	}
		}

		&-close{
			    position: absolute;
			    right: 20px;
			    top: 30px;
			    width: 50px;

			    img{
			    	max-width: 100%;
			    	cursor: pointer;
			    }
		}
	    
	}
}
