:root{
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--text-black: #3c3c3c;
}

@lost flexbox flex;

*{
	margin: 0;
	padding: 0;
}
html{
	min-height: 100hv;
}
.Header{
	background-color: #c11010;
	width: 100%;
	border-botom: 1px solid black;
	padding: 20px;
	box-sizing: border-box;

	&-title{
		color: white;
		margin:  0;
		font-size: responsive 60px 80px;
		font-family:  var(--titled-font);
		font-weight: 700;
		font-style: italic;
		
		span{
			color: #2b0000;
		}
	}
	&-nav{
		display: none;
	}
}
