:root{
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--text-black: #3c3c3c;
}

@lost flexbox flex;

*{
	margin: 0;
	padding: 0;
}
.Header{
	background-color: white;
	width: 100%;
	border-botom: 1px solid black;
	box-shadow: 1px 3px 4px #8b8b8b;
	padding: 20px;

	&-title{
		color: var(--text-black);
		margin:  0;
		font-size: responsive 60px 80px;
		font-family:  var(--titled-font);
		font-weight: 700;
		font-style: italic;

		span{
			color: var(--text-red);
		}
	}

	&-nav{
		background-color: #f0f0f0;
		display: none;
		ul{
			list-style: none;
			display: flex;	
			lost-utility: clearfix;
			li{
				lost-column:  1/5;
				padding: 20px;
			}
		}
	}
}
