
:root{
	--font-text: 'Josefin Sans', sans-serif;
	--text-black: #3c3c3c;
	--titled-font: 'Lobster Two', cursive;
	--text-red:   #c11010;
	--color-red:   #c11010;
}


@lost flexbox flex;

.Login{
	&-content{
	    height: 300px;
	    lost-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #c11010;

	    &-title{
	    	color: var(--text-black);
			margin:  0;
			font-size: responsive 60px 100px;
			font-family:  var(--titled-font);
			font-weight: 700;
			font-style: italic;
			color: white;
			span{
				color: #2b0000;
			}
	    }
	    &-form{
	    	padding: 60px;
	    	fieldset{
	    		max-width: 300px;
	    		padding: 40px;
				border-radius: 12px;
				position: relative;
				border:  0px;
				background-color: #e6e6e6;
	    		input[type="text"], input[type="password"]{
					width: 100%;
					height: 30px;
					margin-bottom: 10px;
					border-radius: 4px;
					border: 1px solid #888888;
					padding: 5px;
					font-family: var(--font-text);
					box-sizing: border-box;
					font-size: 18px;
	    		}
				h2{
					font-family: var(--titled-font);
					text-align: center;
					font-size: responsive 40px 60px;
					color: #c11010;
					font-weight: 700;
					margin-bottom: 5px;
				}
	    		input[type="submit"]{
					width: 100%;
					height: 35px;
					background-color:  var(--color-red);
					border: 1px solid #770d0d;
					border-radius: 4px;
					color: white;
					font-size: 18px;
					font-family: var(--titled-font);
	    		}

	    		a{
	    			font-style: none;
	    			color: #565656;
	    			font-family: var(--font-text);
	    			text-decoration: none;
	    			text-align: center;
	    			display: block;
	    			margin-top: 5px;
	    		}
	    		.dir{
					width: 0;
					height: 0;
					border-top: 16px solid transparent;
					border-bottom: 16px solid transparent;
					border-right: 20px solid #e6e6e6;
					position: absolute;
					top: -50%;
					left: -20px;
					margin-top: 50%;
	    		}
	    		.error{
    			    color: #c11010;
    			    font-family: var(--font-text);
    			    text-align: center;
    			    width: 100%;
    			    display: block;
    			    font-size: 13px;
    			    font-weight: 700;
    			}
	    	}
	    	
	    }
	}
}